<div ng-if="stats.length" style="width: 100%">
    <div id="subheader-left" class="desktop-only" style="vertical-align: top">
        <span ng-repeat="a in userAttrs">{{a.id.toUpperCase()}}: {{a.count}}</span>
    </div><div class="search-engine-holder">
        <span ng-show="q.length" ng-click="clearSearch()" class="glyphicon glyphicon-remove"></span>
        <input type="text" id="game-search" placeholder="Sök i mina spel" ng-model="$parent.q" ng-change="search()" ng-minlength="3" />
    </div>
    <div id="header-console-container" style="position: relative">
        <div class="scroll-indicator" style="position: absolute; left: 0; margin: auto; top: 0; bottom: 0; text-align: center;">
            <span style="color: #e2e2e2;font-size:15px" class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div ng-if="stats.length > 3" class="scroll-indicator" style="position: absolute; right: 0; margin: auto; top: 0; bottom: 0; text-align: center;">
            <span id="scroll-indicator-right" style="color: #e2e2e2;font-size:15px" class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <ul id="header-console-scroller" class="header-console-list" style="margin-bottom: 0">
            <li ng-repeat="c in stats" ng-class="{'first-item': $index%6 === 0, active: c.id === $parent.consoleName}">
                <div style="padding: 5px">
                    <a ng-href="#/user/{{userName}}/{{c.id}}/">
                        <img ng-src="/img/{{c.id}}.png" />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-if="!stats.length" style="margin-top: 30px; background-color: #fff; border-radius: 6px; padding: 20px;">
    <span>Det verkar som du inte har några spel inlagda än! Gå till "Alla spel" och lägg till de spel du har i din samling så blir den här sidan roligare att titta på.</span>
</div>
<div ui-view>
</div>

<script>
    var fluff = document.getElementById('header-console-scroller');
    fluff.onscroll = isAtFarEnd;

    function isAtFarEnd() {
        if ((fluff.scrollWidth - (fluff.scrollLeft + 10)) === (fluff.clientWidth - 10)) {
            document.getElementById('scroll-indicator-right').style.display = 'none';
        } else {
            if (document.getElementById('scroll-indicator-right').style.display === 'none') {
                document.getElementById('scroll-indicator-right').style.display = 'inline';
            }
        }
    }
</script>