<div class="view-wrapper">
    <h3 ng-style="{color: '#fff'}">{{filtered.length}} spel hittades</h3>
    <input type="text" class="search-holder" placeholder="Sök spel..." ng-model="search.name" />
    <ul>
        <li ng-repeat="r in regions" ng-style="{display: 'inline'}"><label for="{{r.id}}">{{r.name}}</label><input id="{{r.id}}" type="checkbox" ng-checked="r.selected" ng-model="filterBoxes[r.id]"></li>
    </ul>
    <ul id="games">
        <li ng-repeat="game in filtered = ((games | filter:search:strict) | codeFilter:filterBoxes)" ng-class-odd="'odd'" ng-class-even="'even'">
            <a ui-sref="user.game({gameId:game.id})">
                <div class="game-wrapper">
                    <div class="game-name">
                        <span>
                            {{game.name}}
                        </span>
                    </div><div class="attr-holder" ng-show="game.attr.common.length">
                        <span ng-repeat="attr in game.attr.common" ng-style="{marginRight: '10px'}" ng-class="{exists: attr.status}">{{attr.id.toUpperCase()}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
            <div ng-show="game.id === selected.id">
                <span>{{game.content}}</span>
            </div>
        </li>
    </ul>
    <div ui-view></div>
</div>