<div ng-if="stats.length" style="width: 100%">
    <div class="search-engine-holder">
        <input type="text" id="game-search" placeholder="Sök i mina spel" ng-model="$parent.q" ng-change="search()" ng-minlength="3" />
    </div>
    <div id="header-console-left">
        <ul id="header-console-list" style="margin-bottom: 0">
            <li ng-repeat="c in stats">
                <div style="padding: 5px">
                    <a ng-href="#/user/{{userName}}/{{c.id}}/">
                        <img ng-src="/img/{{c.id.toUpperCase()}}.png" ng-class="{active: c.id === $parent.console}" />
                    </a>
                </div>
            </li>
        </ul>
    </div><div id="header-console-right" class="desktop-only" style="vertical-align: top; margin-top: 24px">
        <span ng-repeat="a in userAttrs">{{a.id.toUpperCase()}}: {{a.count}}</span>
    </div>
</div>
<div ng-if="!stats.length" style="margin-top: 30px; background-color: #fff; border-radius: 6px; padding: 20px;">
    <span>Det verkar som du inte har några spel inlagda än! Gå till "Alla spel" och lägg till de spel du har i din samling så blir den här sidan roligare att titta på.</span>
</div>
<div ui-view>
</div>