<div class="view-wrapper">
    <h3>Hej {{userName}}!</h3>
    <ul ng-if="stats.length" class="user-list">
        <li ng-repeat="stat in stats">
            <a ui-sref="user.list({consoleName: stat.console})" ng-class="{selected: stat.console === selectedConsole}">{{stat.console.toUpperCase()}} ({{stat.count}})</a>
        </li>
    </ul>
    <ul ng-if="regionStats.length" class="user-list">
        <li ng-repeat="stat in regionStats">
            <a ui-sref="user.region({consoleName: selectedConsole, regionName: stat.region})" ng-class="{selected: stat.region === selectedRegion}">{{stat.region.toUpperCase()}} ({{stat.count}})</a>
        </li>
    </ul>
    <ul ng-if="subRegionStats.length" class="user-list">
        <li ng-repeat="stat in subRegionStats">
            <a ui-sref="user.subRegion({consoleName: selectedConsole, regionName: selectedRegion, subRegionName: stat.region})" ng-class="{selected: stat.region === selectedSubRegion}">{{stat.region.toUpperCase()}} ({{stat.count}})</a>
        </li>
    </ul>
    <div ng-if="!stats.length" style="background-color:#eee;padding:20px;border-radius:6px">
        <span>
            Det verkar som du inte har några spel än! Lägg till spel till din samling genom att gå till konsollistorna ovan.
        </span>
    </div>
    <div ui-view></div>
</div>
