<div class="view-wrapper">
    <h3>Hej {{userName}}!</h3>
    <ul ng-if="stats.length" id="user-console-list">
        <li ng-repeat="stat in stats">
            <a ui-sref="user.list({consoleName: stat.console})" ng-class="{selected: stat.console === selected}">{{stat.console.toUpperCase()}} ({{stat.count}})</a>
        </li>
    </ul>
    <div ng-if="!stats.length" style="background-color:#eee;padding:20px;border-radius:6px">
        <span>
            Det verkar som du inte har några spel än! Lägg till spel till din samling genom att gå till konsollistorna ovan.
        </span>
    </div>
    <div ui-view></div>
</div>
