body {
	background-color: #000;
	color: #fff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
h1 {
	color: #ccc;
	display: inline-block;
}
ul {
  padding-left: 0;
}
ul li {
	  list-style-type: none;
	  padding: 10px;
}
ul li.odd {
  background-color: #ccc;
  color: #fff;
}
ul li.even {
  background-color: #666;
  color: #fff;
}
a {
	color: #ccc;
	text-decoration: none;
}
ul li a {
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
}
ul li a:visited {
    color: #ccc;
}
ul li a:hover {
	text-decoration: underline;
};