<div id="subheader-left" style="background-color: #48D8F1" class="desktop-only" style="vertical-align: top">
    
</div><div class="search-engine-holder">
    <span ng-show="q.length" ng-click="clearSearch()" class="glyphicon glyphicon-remove"></span>
    <input type="text" id="game-search" placeholder="Sök i alla regioner" ng-model="q" ng-change="search()" ng-minlength="3" />
</div>
<ul id="header-console-list" style="margin-bottom: 0">
    <li ng-repeat="c in consoles">
        <a href ui-sref="all.region({consoleName: c.id, regionName: ''})">
            <div style="padding: 5px">
                <img ng-src="/img/{{c.id}}.svg" ng-class="{active: c.id === $parent.consoleName}" />
            </div>
        </a>
    </li>
</ul>
<div ui-view>
</div>