<div ng-show="showRegions">
    <div class="filter-holder" style="margin-top: 10px; margin-bottom: 0; border-bottom: 2px solid #cecece; background-color: #fff; padding-left: 15px">
        <div ng-repeat="r in regions" style="display:inline-block">
            <input type="radio" id="{{r.id}}" ng-model="currentRegion.region" ng-value="r" ng-change="regionChanged(r)">
            <label class="main" style="margin-right: 10px" for="{{r.id}}" ng-class="{selected: r.id === currentRegion.region.id}">{{r.id.toUpperCase()}} ({{r.count}})</label>
        </div>
        <ul class="subregion-{{currentRegion.index}}" style="margin-top: 0;-webkit-margin-after:0">
            <li ng-repeat="sr in currentRegion.region.subRegions" style="display: inline-block"><input type="radio" id="{{sr.id}}" ng-model="currentRegion.subRegion" ng-value="sr" ng-change="subRegionChanged(sr)"><label ng-class="{'selected': currentRegion.subRegion.id === sr.id}" for="{{sr.id}}">{{sr.id.toUpperCase()}} ({{sr.count}})</label></li>
        </ul>
    </div>
</div>
<ui-view />