<div class="view-wrapper">
    <h3>{{filtered.length}} spel hittades</h3>
    <!--<input type="text" placeholder="Sök spel..." ng-model="search.name" />
    <ul id="filters">
        <li ng-repeat="r in regions" ng-style="{display: 'inline'}"><span>{{r.name}}</span><input type="checkbox" ng-checked="r.selected" ng-model="filterBoxes[r.id]"></li>
    </ul>-->
    <ul id="games">
        <li ng-repeat="game in games" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="master-wrapper">
                <a ng-class="{complete: game.attr.isComplete}" ui-sref="game({consoleName:console, gameName:game.name.split(' ').join('-')})">
                    <div class="game-name">
                        <span>
                            {{game.name}}
                        </span>
                    </div></a><a href ng-click="editGame(game)" ng-class="{disabled: !$parent.loggedIn}"><div class="game-attr">
                            <span ng-repeat="attr in game.attr.common" ng-style="{marginRight: '10px'}" ng-class="{exists: attr.status}">{{attr.id.toUpperCase()}}</span>
                        </div><div class="game-note">
                            <span>{{game.attr.note}}</span>
                        </div>
                    </a>
            </div>
        </li>
    </ul>
</div>
<div ui-view></div>
<div class="clearfix"></div>