<div class="view-wrapper">
    <h3>{{filtered.length}} spel hittades</h3>
    <input type="text" placeholder="Sök spel..." ng-model="search.name" />
    <ul id="filters">
        <li ng-repeat="r in regions" ng-style="{display: 'inline'}"><span>{{r.name}}</span><input type="checkbox" ng-checked="r.selected" ng-model="filterBoxes[r.id]"></li>
    </ul>
    <ul id="games">
        <li ng-repeat="game in filtered = ((games | filter:search:strict) | codeFilter:filterBoxes)" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="master-wrapper">
                <a ui-sref="game({consoleName:console, gameName:game.name.split(' ').join('-')})">
                    <div class="game-name">
                        <span>
                            {{game.name}}
                        </span>
                    </div></a><a href="#"><div class="game-add-button">
                    <span class="glyphicon glyphicon-plus-sign">
                    </span>
                    <span>Lägg till</span>
                </div>
                </a>
            </div>
        </li>
    </ul>
</div>
<div ui-view></div>
<div class="clearfix"></div>