
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff');
}

@font-face {
    font-family: 'Nintendoid';
    src: url('../fonts/nintendoid_1.ttf') format('truetype');
}

.nintendoid {
    font-size: 14px;
    font-family: 'Nintendoid';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    color: #BEE2E9;
}

.glyphicon {
    font-size: 20px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon.glyphicon-chevron-left:before{content:"\e079"}
.glyphicon-chevron-right:before{content:"\e080"}
.glyphicon-home:before{content:"\e021"}
.glyphicon-lock:before {content: "\e033"}
.glyphicon-plus-sign:before {content: "\e081"}
.glyphicon-log-in:before {content: "\e161"}
.glyphicon-log-out:before {content: "\e163"}
.glyphicon-pencil:before {content: "\270f"}
.glyphicon-user:before {content: "\e008"}
.glyphicon-chevron-up:before {content: "\e113"}

#header-right {
    .glyphicon {
        margin-left: 15px;
    }
}