* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
body {
  background-color: #efefef;
  color: #fff;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
body h1 {
  color: #ccc;
  display: inline-block;
  margin: 0;
}
body a {
  color: #ccc;
  text-decoration: none;
}
body #header-right a {
  text-decoration: underline;
}
body #header-right a:hover {
  text-decoration: none;
}
body #header-right a:nth-of-type(2) {
  display: block;
}
body span.exists {
  color: green;
}
body ul {
  padding-left: 0;
}
body ul li {
  list-style-type: none;
  padding: 10px;
}
body ul li.odd {
  background-color: #ccc;
  color: #fff;
}
body ul li.even {
  background-color: #666;
  color: #fff;
}
body ul li a {
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
}
body ul li a:visited {
  color: #ccc;
}
body ul li a:hover {
  text-decoration: underline;
}
body .game-wrapper {
  font-weight: bold;
}
@media all and (min-width: 1000px) {
  body .content-wrapper {
    margin: 0 auto;
    padding-top: 60px;
    max-width: 65%;
  }
  body .content-wrapper #header-left {
    float: left;
    margin-right: 2%;
    width: 66%;
  }
  body .content-wrapper #header-right {
    text-align: right;
    float: left;
    margin-right: 2%;
    width: 32%;
    margin-right: 0 !important;
  }
  body .content-wrapper .view-wrapper .game-wrapper a:hover {
    text-decoration: none;
  }
  body .content-wrapper .view-wrapper .game-wrapper .game-name {
    width: 15%;
    display: inline-block;
    margin-right: 0;
  }
  body .content-wrapper .view-wrapper .game-wrapper .attr-holder {
    width: 83%;
    display: inline-block;
    margin-right: 0;
  }
}
@media all and (max-width: 999px) {
  body #header-left {
    float: left;
    margin-right: 2%;
    width: 49%;
  }
  body #header-right {
    text-align: right;
    float: left;
    margin-right: 2%;
    width: 49%;
    margin-right: 0 !important;
  }
  body #header-right #logged-in-explain {
    display: none;
  }
  body .view-wrapper {
    float: left;
    margin-right: 2%;
    width: 100%;
  }
  body .view-wrapper input.search-holder {
    width: 100%;
    height: 50px;
    font-size: 25px;
  }
  body .view-wrapper ul#games {
    font-size: 25px;
  }
  body .view-wrapper ul#games li {
    padding: 20px 10px;
  }
  body .view-wrapper ul#games div.game-name {
    float: left;
    margin-right: 2%;
    width: 66%;
  }
  body .view-wrapper ul#games div.attr-holder {
    float: left;
    margin-right: 2%;
    width: 32%;
    margin-right: 0 !important;
  }
}
