@import "grid.less";

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;

    .clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

    body {
        background-color: #efefef;
        color: #666;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

        h1 {
            color: #ccc;
            display: inline-block;
            margin: 0;
        }

        a {
            color: #666;
            text-decoration: underline;
        }

            a:hover, a:visited, a:active {
                text-decoration: none;
            }

        .content-wrapper {

            #header-left {
                h1 a {
                    text-decoration: none;
                }
            }

            #header-right {
                a {
                    text-decoration: underline;
                }

                    a:hover {
                        text-decoration: none;
                    }

                    a:nth-of-type(2) {
                        display: block;
                    }
            }

            #header-console-list {
                background-color: #fff;
                padding: 10px;
                border-radius: 6px;

                > li {
                    display: inline;
                    color: #666;
                }
            }
        }

        span.exists {
            color: #3F9434;
        }

        ul#games {
            > li {
                .column-no-float(12, 0);

                a {
                    color: #fff;
                    text-decoration: none;

                    .game-name span {
                        color: #04405E;
                    }

                    .game-attr {
                        color: #B23E44;
                    }
                }

                    a:hover {
                        .game-name span {
                            text-decoration: underline;
                        }
                    }

                .game-content {
                    padding: 20px;
                    background-color: #fff;
                    margin-top: 10px;
                    color: #666;
                }
            }

            li.odd {
                background-color: #bbb;
                color: #eee;
            }

            li.even {
                background-color: #eee;
                color: #bbb;
            }
        }

        ul {
            padding-left: 0;

            li {
                list-style-type: none;
                padding: 10px;
            }
        }

        .game-wrapper {
            font-weight: bold;
        }

        @media all and (min-width : 1000px) {
            .content-wrapper {
                margin: 0 auto;
                padding-top: 60px;
                max-width: 50%;

                #header-left {
                    .column(8);
                }

                #header-right {
                    text-align: right;
                    .column(4);
                    .last-col();
                }

                .view-wrapper {
                    .game-wrapper {
                        a:hover {
                            text-decoration: none;
                        }

                        .game-name {
                            .column-no-float(6, 0);
                        }

                        .game-attr {
                            .column-no-float(6, 0);
                        }
                    }
                }
            }
        }

        @media all and (max-width : 999px) {
            #header-left {
                .column(6);
            }

            #header-right {
                text-align: right;
                .column(6);
                .last-col();

                #logged-in-explain {
                    display: none;
                }
            }

            .view-wrapper {
                .column(12);

                input.search-holder {
                    width: 100%;
                    height: 50px;
                    font-size: 25px;
                }

                ul#games {
                    font-size: 25px;

                    li {
                        padding: 50px 10px;
                    }

                    .game-name {
                        .column-no-float(9);
                    }

                    .game-attr {
                        .column-no-float(3);
                        .last-col();
                    }
                }
            }
        }
    }
}
