<div class="view-wrapper">
    <form id="login-form" name="loginForm">
        <input type="text" placeholder="Användarnamn" ng-model="credentials.username" ng-minlength="3" ng-maxlength="20" required />
        <input type="password" placeholder="Lösenord" ng-model="credentials.password" ng-minlength="3" ng-maxlength="20" required />
        <div>
            <button class="yeah" ng-disabled="!validateFields()" ng-click="validateCredentials(credentials)">Logga in</button>
            <span>{{errorMessage}}</span>
        </div>
    </form>
</div>